/* hero section styles */
.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
    align-items: flex-end;
    max-width: 100%;
}

.hero p {
    text-align: right;
}
  
.hero p span {
    display: block;
}

/* project section */
#projects {
    min-height: 70vh;
    padding-top:10vh;
}

.projlist {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 2rem;
}
  
.projlinks {
    display: flex;
    justify-content: right;
    gap: 0.1rem;
    margin: 0 auto 1rem;
}
  
.proj {
    flex-basis: 35%;
    background-color: var(--c1);
    color: white;
    padding: 1.5rem 1.5rem 2rem;
}

.proj h4 {
    font-size: 1.1rem;
}
  
/* contact section */
#contact p {
    margin: 2rem auto;
    max-width: 1200px;
    text-align: center;
}
  
#contact a.button {
    display: block;
}

@media (max-width: 1450px) {
  
    #contact p {
        max-width: 1000px;
    }
}
  
@media (max-width: 1250px){
    #contact p{
        max-width: 900px;
    }
}
  
@media (max-width: 1150px){
    #contact p{
        max-width: 750px;
    }
}
  
@media (max-width: 1050px){
    .proj{
        flex-basis: 60%;
    }
}
 
@media (max-width: 1024px) {
    #contact p {
        width: 700px;
    }
}
  
@media (max-width: 950px){
    #contact p{
        max-width: 600px;
    }
}
  
@media (max-width: 850px) {
    #contact p{
        max-width: fit-content;
        text-align: left;
}
  
    .proj{
        flex-basis: 70%;
    }
}
  
@media (max-width: 750px) {
    .proj{
        flex-basis: 80%;
    }
}
  
@media (max-width: 650px){
    .proj{
        flex-basis: 90%;
    }
}
  
@media (max-width: 460px){
    .proj{
        flex-basis: 100%;
    }
 
    .hero{
        display:block;
    }
  
    .hero p{
        text-align: left;
    }
}